<h1>Change Form</h1>

<form method="POST" action="process_index_form" enctype = "multipart/form-data">
	<input name="test" type="text"><br>
	<input type="file" name="file"><br>
  <input type="submit">
</form>
